<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
  <ul>
    <% menuItems.forEach( menu => { %>
      <li> <!--if gna display on screen we use =--> 
        <%= menu.name %>
          - 
        <%= menu.price %> BD
      </li>
    <% }); %>
  </ul>
</body>
</html>