<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Menu Items</title>
</head>

<body>
  <% menu.forEach((element)=> { %>
    <h1>
      <%= element.name %>
        -
        <%= element.price %>
    </h1>
    <% }); %>

</body>

</html>