<body>
  <h1>Welcome to Jasmi's!</h1>
  <ul>
    <% menuItems.forEach( (object) => { %>
      <li>
        <h2> <%=  object.name  %></h2>
        <p> <%=  object.price %> </p> 
      </li>
    <% }); %>
  </ul>
</body>