<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>All Jasmis Food:</h1>
  <ul>
    <% menuItem.forEach( menuItem => { %>
      <li>
        <%= menuItem.name %>
          - 
        <%= menuItem.price  + 'BD' %>
      </li>
    <% }); %>
  </ul>
</body>
</html>